# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Django stuff:
db.sqlite3
/static/
media/

# VSCode
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db
